.container {
  height: 350px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
}

.slider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal img {
  height: auto;
}
